*{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
      }
 
      header{
        background-color: #F9F8FC;
      }
 
      #logo{
        margin: auto;
        height: 200px;
        width: 320px;
        text-align: center;
      }
 
      #logo h1{
         font-family: 'Pacifico', cursive;
         font-size: 58px;
       }
       h2{font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-align: center;}
 
     nav{
       height: 60px;
       background-color:#17181C;
       text-align: center;
     }
 
     nav ul{
        list-style: none;
        display: inline-block;
        padding:18px;
     }
 
     nav ul li{
         float: left;
         margin-top: 20px;
     }
 
     nav ul li a {
         color: white;
         font-weight: bold;
         text-decoration: none;
         font-size: 20px;
         padding: 18px;
     }
 
     nav ul li a:hover{
       background-color: #929fb3;
     }
    a{text-decoration: none;}