table, th, td
{
width:50%;
text-align: center;
align-content: center;
}

.formulario{
    float: right;
}

.datos{
    float: center;
}

.tablas{
    width:10%;
    text-align: center;
    padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  float: right;
  position: absolute;
  right: 17%;
  top: 30%;
}